@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
/* Variables! */
:root {
    --white: #f8f9fa;
    --transparentWhite: rgba(248, 249, 250, 0.8);
}
/* GLOBAL */
* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html, 
body {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%; /* Now 10px = 1rem! */
  } 
body {
    font-size: 16px; /* px fallback */
    font-size: 1.6rem; /* default font-size for document */
    font-family: 'Nunito', sans-serif;
    background-color: var(--white);
}
ul,
li {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.btn {
    border-radius: .5rem;
    text-align: center;
    padding: 1.5rem;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
}
/* Navbar */
header {
    background:var(--white);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    border-bottom: 0.1rem solid rgba(206, 212, 218, .8);
}
.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo {
    display: block;
    margin: 0 auto
}
.logo-txt {
    display: inline-block;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}
#ham-toggle {
    display: none;
}
.ham-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 2.5rem;
}

nav {
    position: absolute;
    padding-top: 1rem;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: var(--white);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}
.nav-list li {
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.nav-list a {
    color: black;
    text-transform: uppercase;
    font-size: 1.5rem;
    opacity: 1;
    transition: opacity 150ms ease-in;
}
#ham-toggle:checked ~ .nav-cont nav {
    transform: scale(1,1);
}
#ham-toggle:checked ~ nav-cont a {
    opacity: 1;
    transition: opacity 250ms ease-in 250ms;
}
/* Welcome */
.welcome-container {
    display: flex;
    padding: 9.8rem 1rem 2rem 1rem;
    background-image: url(/img/alec-favale-Ivzo69e18nk-unsplash.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
}
.welcome-txt-box {
    display: flex;
    flex-direction: column;
    border: 0.1rem solid rgba(33, 37, 41, 0.9);
    border-radius: 1rem;
    padding: 1rem;
    margin: 3rem 2rem 2rem 2rem;
    background-color: rgba(33, 37, 41, 0.6);
    color: var(--transparentWhite);
}
.welcome-txt-box h2 {
    text-transform: none;
    text-align: center;
    line-height: 5rem;
}
.welcome-txt-box p span {
    font-size: 1rem;
    font-weight: 200;
    text-align: right;
    display: block;
}
.welcome-txt-box i {
    color: var(--transparentWhite);
    font-size: 5rem;
    cursor: pointer;
    padding-left: 2rem;
}

/* Main/Arrival */
h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 3rem;
}
.product {
    display: flex;
    justify-content: center;
}
.product-container  {
    border: 0.1rem solid #ced4da;
    border-radius: 8%;
    padding: 1rem;
    margin: 2rem 0;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* PopUp View */
.product .popup-view {
    background-color: rgba(0, 0, 0, .3);
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.product .popup-view.active {
    opacity: 1;
    visibility: visible;
}
.product .popup-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    margin: 3rem 5%;
}
.product .popup-card .product-img {
    z-index: 1000;
    position: relative;
    background-color: rgba(73, 80, 87, .9);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.product .popup-card .product-img img {
    z-index: 1000;
    position: relative;
    width: 25rem;
    height: 25rem;
    padding: 1rem;
}
.product .popup-card .info {
    z-index: 1000;
    background-color: rgba(248, 249, 250, .9);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.product .popup-card .closepop-btn {
    color: #f8f9fa;
    z-index: 1001;
    position: absolute;
    right: 0;
    font-size: 2rem;
    margin: 2rem;
    cursor: pointer;
}
.product .popup-card .info h3 {
    font-size: 2.4rem;
    margin: 1rem 0 0 1rem;
    line-height: 2rem;
}
.product .popup-card .info h3 span {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}
.product .popup-card .info .price-txt {
    margin: 0 0 1rem 0;
    text-align: center;
    font-size: 2.8rem;
    color: #e5383b;
    font-weight: 700;
}
.product .popup-card .info p {
    font-size: 1.4rem;
    margin: 1rem  0 .5rem 1rem;
}
.product .popup-card .info .wsp-contact-btn {
    color: #f8f9fa;
    background-color: #78c6a3;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    padding: 1rem;
    border-radius: 1rem;
}



.arrival-container {
    display: flex;
    justify-content: center;
}
.arrival-container img {
    width: 15rem;
    height: 15rem;
    display: flex;
}
.arrival-container h2 {
    font-size: 2rem;
    text-align: center;
}
.arrival-btn {
    color: var(--white);
    margin-top: 1rem;
    background-color: #2d82bd;
    border: 0.1rem solid #2476b1;
    transition: hover 350ms ease-in;
}
.arrival-btn:hover {
    color: #ced4da;
    background-color: #0f558f;
    cursor: pointer;
}
.price-tag-btn {
    color: var(--white);
    background: #2d82bd;
    border: 0.1rem solid #2476b1;
}
.price-tag-btn:hover {
    color: #a9d6e5;
    background: #0f558f;
    border: 0.1rem solid #2a6f97;
    transition: all 250ms ease-in;
}
.product-btn {
    width: 20rem;
    color: var(--white);
    background-color: #0466c8;
    border: 0.1rem solid #00509d;
    margin: 1rem 0 2rem 0;
}
.product-btn:hover {
    color: #ced4da;
    background-color: #0353a4;
    cursor: pointer;
}
.for-larger {
    display: none;
}
/* CONTACTO */
.sect {
    padding-bottom: 6rem;
}
section h2 {
    padding: 1rem 0;
    text-align: center;
    font-size: 3.5rem;
    text-transform: capitalize;
}
.map {
    border-radius: 5%;
    border: 0.2rem solid #dee2e6;
}
.info-cont {
    display: flex;
    align-items: center;
    line-height: 5rem;
}
.info-cont li {
    text-align: center;
    font-size: 2.2rem;
}
.info-cont li p:last-child {
    font-size: 1.8rem;
    line-height: 1rem;
}
.blue {
    color: #1965a0;
}
.wsp-btn {
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    border: 0.1rem solid #32936f;
    background-color: #26a96c;
    color: var(--white);
}
.wsp-btn:hover {
    background-color: #40916c;
    color: #ced4da;
    cursor: pointer;
}
/* FOOTER */
footer {
    position: absolute;
    width: 100%;
}
.footer-container {
    border-top: 0.1rem solid rgba(206, 212, 218, .8);
}
.footer-container i {
    font-size: 4rem;
    color: black;
}


/* MEDIA QUERIES */
@media screen and (min-width: 371px) {
    /* Welcome min 371 */
    .welcome-txt-box {
        margin-top: 0.9rem;
    }
}
@media screen and (min-width: 450px) and (max-width: 599px) {
    /* Arrival min 450 and max 599 */
    .product {
        flex: 0 45%;
    }
}
@media screen and (min-width: 520px) {
    /* Welcome min 520 */
    .welcome-container {
        background-image: url(/img/landing-img.jpg);
        padding-top: 20rem;
    }
    .wsp {
        align-self: flex-end;
        padding-right: 5rem;
    }
    .product .popup-card {
        flex-direction: row;
    }
    .product .popup-card .product-img {
        height: 100%;
        border-bottom-left-radius: 1rem;
        border-top-right-radius: 0;
    }
    .product .popup-card .info {
        height: 100%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 1rem;
    }
    .product .popup-card .info .price-txt {
        font-size: 2.5rem;
        margin: 0%;
    }
    .product .popup-card .closepop-btn {
        color: #212529;
        top: 0;
    }  
}
@media  screen and (min-width:600px) {
    /* Arrival bigger screens */
    .for-larger {
        display:flex;
    }
}
@media screen and (min-width:730px) {
       /* Product Popup View */
       .product .popup-card .product-img img {
        width: 35rem;
    }
}
@media screen and (min-width: 770px) {
    /* Navbar min 600 */
    header {
        display: flex;
        justify-content: space-between;
        height: 9.7rem;
    }
    .ham-label {
        display: none;
    }
    .logo-container {
        flex-direction: row;
        align-items: center;
    }
    .logo {
        margin: 1rem 0 0 1rem;
        display: inline;
        width: 7.5rem;
        padding: 1rem 0;
    }
    .logo-txt {
        display: flex;
        align-items: flex-end;
        font-size: 1.5rem;
        width: 100%;
        margin: 1rem 0 1rem 2rem;
    }
    nav {
        all:unset;
        display: flex;
        align-items: flex-end;
        margin: 5% 10% 0 3%;
    }
    .nav-list {
        display: flex;
        justify-content: space-evenly;
    }
    .nav-list li {
        margin-right: 4rem;
    }
    .nav-list li a {
        opacity: 1;
        font-weight: 700;
        font-size: 1.5rem;
        transition: all 150ms ease-out;
    }
    .nav-list li:last-child {
        margin-right: 2rem;
    }
    .nav-list li a:hover {
        color: #006daa;
        border-bottom: 0.3rem solid black;
    }
    /* Welcome */
    .welcome-container {
        padding-top: 10%;
    }
    .welcome-txt-box {
        margin-top: 10%;
        width: 45%;
        line-height: 3rem;
    }
    .welcome-txt-box h2 {
        font-size: 5rem;
    }
    .welcome-txt-box p {
        margin: 1rem 0 0 1rem;
        font-size: 2rem;
    }
    .welcome-txt-box i {
        font-size: 7rem;
        padding-left: 10%;
    }
    /* Contacto min 770 */
    .map {
        width: 50rem;
        height: 30rem;
    }


}
@media screen and (min-width: 1020px) {
    .product .popup-card {
        width: 80%;
        height: 70%;
        margin: 10rem 10%;
    }
    .product .popup-card .product-img {
        height: 90%;
        width: 50%;
    }

    .product .popup-card .product-img img {
        width: 40rem;
        height: 45rem;
        padding: 5rem;
    }
    .product .popup-card .info {
        width: 40%;
        height: 90%;
    }
    .product .popup-card .closepop-btn {
        top: 2.5%;
        right: 5%;
    }


}
@media screen and (max-width: 370px) {
    /* Welcome max 370 */
    .welcome-txt-box {
        margin-top: 1rem;
    }
    .welcome-txt-box h2 {
        font-size: 2.5rem;
    }
    .welcome-txt-box p {
        font-size: 1.4rem;
    }
    .welcome-txt-box i {
        font-size: 4rem;
    }
    .product .popup-card .product-img img {
        width: 18rem;
        height: 18rem;
    }
    .product .popup-card .info h3 {
        font-size: 2.1rem;
        margin: .5rem 0 0 1rem;
    }
    .product .popup-card .info h3 span,
    .product .popup-card .info p  {
        font-size: 1.2rem;
    }
    .product .popup-card .info .price-txt {
        font-size: 2.3rem;
    }
}